<div class="featured_custom3">
  <div class="featured_container3">
    <div class="featured_wrapper3">
      {%- for block in section.blocks limit: 1 -%}
        <div class="featured_main3" {% if block.settings.article.image %}style="background: url({{ block.settings.article.image | image_url: width: block.settings.article.image.width }}) no-repeat;background-size: cover;"{%else%}style="background: #e8e8e8"{%endif%}>
          <span class="featured_article3">Featured Article</span>
          <h3 class="featured_title3">
            {%-liquid
              if block.settings.article.title
                echo block.settings.article.title
              else
                echo 'Featured Blog Title'
              endif
             -%}
          </h3>
          <div class="featured_description3">
           {%-liquid
            unless section.settings.remove_description_text
              if block.settings.article.content
               echo block.settings.article.content | truncate: 200
              else
                echo 'Lorem ipsum dolor, sit amet consectetur adipisicing elit. Molestias iste corporis cumque perspiciatis tenetur reprehenderit nam, ipsum consequatur laudantium optio.'
              endif
            endunless
           -%}
          </div>
          <a href="{{block.settings.article.url}}" class="featured_link3">{{section.settings.button_text}}</a>
        </div>
      {%- endfor -%}
        <div class="featured_blocks3">
          {%- for block in section.blocks offset: 1 -%}
            <div class="featured_blocks-block3 featured_item3">
              {%- if block.settings.article.image -%}
                {{ block.settings.article.image | image_url: width: block.settings.article.image.width | image_tag:  alt: block.settings.article.title }}
              {%- else -%}
                  {{ 'image' | placeholder_svg_tag }}
              {%- endif -%}
              <div class="featured_item-info3">
                <h4>
                  {%-liquid
                   if block.settings.article.title
                    echo block.settings.article.title
                   else
                     echo 'Article title'
                   endif
                  -%}
                </h4>
                <p>
                   {%-liquid
                    unless section.settings.remove_description_text
                      if block.settings.article.excerpt
                        echo block.settings.article.excerpt
                      else
                        echo 'Intro to article'
                      endif
                    endunless
                   -%}
                </p>
                <a href="{{block.settings.article.url}}">{{section.settings.button_text}}</a>
              </div>
            </div>
          {%- endfor -%}
        </div>
    </div>
  </div>
</div>
  
  
{% schema %}
  {
    "name": "SS - Blog #2",
    "tag": "section",
    "class": "custom-blog",
    "max_blocks": 4,
    "settings": [
        {
          "type": "header",
          "content": "Content Settings"
        },
        {
          "type": "text",
          "id": "button_text",
          "label": "Button Text",
          "default": "Read more"
        },
        {
          "type": "checkbox",
          "id": "make_more_readable",
          "default": false,
          "label": "Make featured article more readable"
        },
        {
          "type": "checkbox",
          "id": "remove_description_text",
          "default": false,
          "label": "Remove description text"
        },
        {
          "type": "header",
          "content": "Color&Fonts Settings"
        },
        {
            "type": "color",
            "id": "section_bg_color",
            "label": "Section Background Color",
            "default": "#fff"
        },
        {
            "type": "color",
            "id": "button_color",
            "label": "Button Color",
            "default": "#FF7A15"
        },
        {
            "type": "color",
            "id": "description_maintext_color",
            "label": "Description Color",
            "default": "#FFFFFF"
        },
        {
            "type": "font_picker",
            "id": "title_font",
            "default": "assistant_n4",
            "label": "Title Font"
        },
        {
            "type": "font_picker",
            "id": "description_font",
            "default": "assistant_n4",
            "label": "Description Font"
        }
    ],
    "blocks": [
        {
          "type": "Article",
          "name": "SS - Blog #2",
          "settings": [
            {
              "type": "article",
              "id": "article",
              "label": "Choose Article"
            }
          ]
        }
    ],
    "presets": [
      {
        "name": "SS - Blog #2",
        "blocks": [
        {
          "type": "Article"
        },
        {
          "type": "Article"
        },
        {
          "type": "Article"
        },
		{
		  "type": "Article"
		}
        ]
      }
    ]
  }
  {% endschema %}

  <style>
    {{ section.settings.title_font | font_face: font_display: 'swap' }}
    {{ section.settings.description_font | font_face: font_display: 'swap' }}



    .custome-blog {
      background-color: {{ section.settings.section_bg_color }};
    }
    {%- if section.settings.make_more_readable -%}.featured_main3 {box-shadow: inset 0 0 0 1000px rgba(0,0,0,.2);}{%- endif -%}
    {%- if section.settings.reverse -%}.featured_wrapper3 {flex-direction: row-reverse;}{%- endif -%}
    .featured_item-info3 a {
      color: {{ section.settings.button_color }};
      background-color: transparent;
      border: 2px solid {{ section.settings.button_color }};
    }
    .featured_item-info3 a:hover {
      background-color: {{ section.settings.button_color }};
    }
    .featured_link3 {
      background-color: {{ section.settings.button_color }};
    }
    .featured_link3:hover {
      background-color: transparent;
      border: 2px solid {{ section.settings.button_color }};
    }
    .featured_description3 {
      color: {{section.settings.description_maintext_color}};
    }
    .featured_item-info3 p {
      color: {{section.settings.description_text_color}};
    }
    .featured_article3 {
    color: {{section.settings.description_maintext_color}};
    }
    .featured_title3,
    .featured_item-info3 h4 {
      font-family: {{section.settings.title_font.family}};
      font-weight: {{section.settings.title_font.weight}};
    }
    .featured_description3,
    .featured_item-info3 p {
      font-family: {{section.settings.description_font.family}};
      font-weight: {{section.settings.description_font.weight}};
    }
</style>

  {% style %}


  .featured_item3 svg {
	max-height: 200px;
    display: block;
    margin: auto;
  }
  .featured_container3 {
    max-width: 140rem;
    margin: 0 auto;
    padding: 50px 5rem;
  }
  .featured_wrapper3 {
  }
  
  .featured_main3 {
    height: 400px;
    background-size: cover;
    background-position: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }
  .featured_blocks3 {
	width: 100%;
	display: flex;
    justify-content: space-between;
	margin-top: 20px;
  }
  .featured_item3 {
	flex: 0 1 32%;
    padding-bottom: 20px;
    margin-bottom: 20px;
    border: 1px solid rgba(164, 162, 163, .3);
    box-shadow: 0 2px 6px #0000000d;
  }
 
  .featured_item-info3 {
    text-align: center;
  }
  .featured_item-info3 h4 {
    font-size: 16px;
    padding: 10px;
    color: #000;
    text-transform: uppercase;
    margin: 0;
    margin-bottom:5px;
    font-weight: 600;
  }
  .featured_item-info3 a:hover {
    color:white;
  }
  .featured_item-info3 p {
    padding-bottom: 10px;
    line-height: 1.2;
    max-width: 80%;
    margin: 0 auto!important;
  }
  .featured_item-info3 a {
    font-size: 18px;
    text-decoration: none;
    border-radius: 25px;
    padding: 2px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 120px;
    margin: 0 auto;
    width: 100%;
    transition: all .3s;
  }
  .featured_item3 img {
    max-width: 100%;
    max-height: 200px;
    object-fit: cover;
    object-position: center;
  }
  .featured_article3 {
    font-size: 16px;
    text-transform: uppercase;
    line-height: 1;
  }
  .featured_title3 {
    color: #fff;
    font-weight:600;
    text-transform: uppercase;
    font-size: 30px;
    margin: 0;
    padding: 10px 0;
  }
  .featured_description3 {
    font-size: 16px;
    line-height: 1.2;
    max-width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  .featured_link3 {
    text-decoration: none;
    color: #fff;
    font-size: 16px;
    text-transform: uppercase;
    border-radius: 25px;
    padding: 5px 0;
    margin-top: 20px;
    text-align: center;
    max-width: 200px;
    width: 100%;
    transition: all .3s;
    border: 2px solid transparent;
    font-weight:600;
  }
  
  
  @media (max-width: 767px) {

	.featured_blocks3 {
      flex-direction:column;
	}
    .featured_container3 {
      padding: 0 20px;
    }
    .featured_main3 {
	  min-height: 500px;
    }
    .featured_wrapper3 {
      flex-direction: column;
    }
    .featured_item3 {
      margin-top: 0px;
    }
    .featured_article3 {
      font-size: 16px;
    }
    .featured_title3 {
      font-size: 24px;
    }
    .featured_description3 {
      font-size: 16px;
      max-width: 90%;
    }
    .featured_item-info3 a {
      font-size: 16px;
    }
  }
  {% endstyle %}
  
  {% javascript %}
  {% endjavascript %}
  